<div class="mx-auto main-profile my-4 d-flex align-items-center justify-content-center">

<div class="purple-active number-style d-flex justify-content-center align-items-center"> <span>1</span></div>
<div class="purple-active bar"></div>
<div [ngClass]="{'purple-active': Flag1}" class="number-style d-flex justify-content-center align-items-center"> <span>2</span></div>
<div [ngClass]="{'purple-active': Flag2}"  class="bar"></div>
<div  [ngClass]="{'purple-active': Flag2}" class="number-style d-flex justify-content-center align-items-center"> <span>3</span></div>

</div>
