<section class="bg-pdf-files">
    <div class="container py-5">
        <div class="pdf-files-bg-container p-4">
            <h2 class="text-center text-white fw-bold mb-5">{{'company_terms' | translate}}</h2>
            <div >
                <p>{{'termsDescription' | translate}}</p>
                <p>{{'termsHint' | translate}}</p>
            </div>

            <div class="mb-5">
                <h4>{{'termsTitle1' | translate}}</h4>
                <p class="fw-semibold">{{'termsDescription1' | translate}}</p>
                <p style="white-space: pre-line;">{{'termsDescription1_1' | translate}}</p>
            </div>

            <div class="mb-5">
                <h4>{{'termsTitle2' | translate}}</h4>
                <p>{{'termsDescription2' | translate}}</p>
            </div>

            <div class="mb-5">
                <h4>{{'termsTitle3' | translate}}</h4>
                <p class="fw-bold">{{'termsTitle3_1' | translate}}</p>
                <p class="px-2" style="white-space: pre-line">{{'termsDescription3_1' | translate}}</p>
                <br>
                <p class="fw-bold">{{'termsTitle3_2' | translate}}</p>
                <p  class="px-2" style="white-space: pre-line">{{'termsDescription3_2' | translate}}</p>
                <br>
                <p class="fw-bold">{{'termsTitle3_3' | translate}}</p>
                <p  class="px-2" style="white-space: pre-line">{{'termsDescription3_3' | translate}}</p>
                <br>
                <p class="fw-bold">{{'termsTitle3_4' | translate}}</p>
                <p  class="px-2" style="white-space: pre-line">{{'termsDescription3_4' | translate}}</p>
                <br>
                <p class="fw-bold">{{'termsTitle3_5' | translate}}</p>
                <p  class="px-2" style="white-space: pre-line">{{'termsDescription3_5' | translate}}</p>
            </div>

            <div class="mb-5">
                <h4>{{'termsTitle4' | translate}}</h4>
                <p style="white-space: pre-line">{{'termsDescription4' | translate}}</p>
            </div>

            <div class="mb-5">
                <h4>{{'termsTitle5' | translate}}</h4>
                <p >{{'termsDescription5' | translate}}</p>
                <p >{{'termsDescription5_1' | translate}}</p>
                <p style="white-space: pre-line">{{'termsDescription5_2' | translate}}</p>
            </div>

            <div class="mb-5">
                <h4>{{'termsTitle6' | translate}}</h4>
                <p >{{'termsDescription6' | translate}}</p>
                <p >{{'termsDescription6_1' | translate}}</p>
            </div>

            <div class="mb-5">
                <h4>{{'termsTitle7' | translate}}</h4>
                <p style="white-space: pre-line-line">{{'termsDescription7' | translate}}</p>
            </div>

            <div class="mb-5">
                <h4>{{'termsTitle8' | translate}}</h4>
                <p style="white-space: pre-line">{{'termsDescription8' | translate}}</p>
            </div>

            <div class="mb-5">
                <p class="fw-semibold">{{'termsTitle9' | translate}}</p>
            </div>
        </div>
    </div>
</section>
