<div class="container-fluid registration">
  <div class="container pt-5">
    <div class="container w-50">
      <form [formGroup]="otpForm" (ngSubmit)="onSubmit()" class="p-4 form-control border-0">
        <h3 class="fw-bold text-center text-black opacity-75 mb-4">{{'checkEmail' | translate}}</h3>
        <div class="row mb-1">
          <label>{{'checkCode' | translate}}</label>
          <div class="text-center my-2">
            <ngx-otp-input [options]="otpOptions" (otpChange)="otpComplete($event)"></ngx-otp-input>
<!--             
            <div *ngIf="otpForm.controls['otp'].invalid && otpForm.controls['otp'].touched">
              <span class="error-msg" *ngIf="otpForm.controls['otp'].errors?.['required']">{{'checkRequired'| translate}}</span>
            </div> -->
      
          </div>
        </div>
        <div class="row mb-2">
          <div class="align-items-center d-flex justify-content-between">
              <a class="resend-code fw-bold" (click)="resendCode()"  [class.disabled]="isResendDisabled">{{'resendCode' |  translate}}</a>
              <label class="form-check-label fw-bold">{{ minutes }}:{{ seconds | number: '2.0' }}</label>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">    
            <button class="w-100 btn-registration bg-primary-500 py-2 my-3" type="submit">{{'check' | translate}} </button>
          </div>
        </div>
        @if(serverSideError && serverSideError.length!=0)
        {
        <div class="mt-3 alert alert-danger alert-dismissible fade show" role="alert">
          <img src="assets/icons/alert-danger.svg">
        {{serverSideError}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        }
      </form>
    </div>
  </div>
</div>
