
<div class="container d-flex flex-wrap form-container p-5 m-auto desktop-show">
  <form>
        <div>
          <h1 class="text-center text-white fw-bold">{{'soon' | translate}}</h1>
        </div>
      
        <div class="row mb-4">
          <div class="col-6">
              <input type="text" class="form-control py-2" placeholder="{{'enterEmail' | translate}}">
          </div>
          <div class="col-6">
              <button type="button" class="btn bg-secondary get-update m-0 text-white">{{'getUpdate' | translate}}</button>
          </div>
        </div>
  </form>
</div>
<div class="container d-flex flex-wrap  p-5 m-auto mobile-show">
  <form>
        <div>
          <h1 class="text-center text-white fw-bold mb-4">{{'soon' | translate}}</h1>
        </div>
      
        <div class=" d-flex gap-3 pt-3">
          <div class="col-6">
              <input type="text" class="form-control py-2" placeholder="{{'enterEmail' | translate}}">
          </div>
          <div class="col-6">
              <button type="button" class="btn bg-secondary get-update m-0 text-white">{{'getUpdate' | translate}}</button>
          </div>
        </div>
  </form>
</div>
