.dashboard-header {
    color: #213c75;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 20px;
}
.dashboard-header span {
    display: none;
    font-size: 20px;
    font-weight: 400;
    margin-left: 10px;
    margin-top: 5px;
}
.details-input p {
    color: #737373;
    font-size: 20px;
}
.details-input .input-holder {
    position: relative;
}
.details-input .input-holder input {
    background: #f9f9f9 !important;
    border: 1px solid #e7e7e7;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 500;
    padding: 20px;
    width: 100%;
}
.send-btn {
    all: unset;
    background: #213c75;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 16px;
    text-align: center;
    width: 252px;
}
