<h1 class="dashboard-header d-flex justify-content-between">
  <p class="fs-2">{{'Dashboards' | translate}}</p>
  <span>{{'password_change' | translate}}</span>
</h1>
<div class="dashboard-content mt-5">
  <form class="change-password" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <div class="details-input mb-5 col-lg-6">
      <p>{{'old_password' | translate}}</p>
      <div class="input-holder">
        <input type="password" class="form-control" formControlName="oldPassword"
        [ngClass]="{'is-invalid':
            (oldPassword?.touched || oldPassword?.dirty) && oldPassword?.invalid}"/>
        <span class="invalid-feedback">
        @if(oldPassword?.errors?.['required']) {<span>{{'input_required' | translate}}</span>}
        </span>
      </div>
    </div>
    <div class="details-input mb-5 col-lg-6">
      <p>{{'new_password' | translate}}</p>
      <div class="input-holder">
        <input type="password" class="form-control"  formControlName="newPassword"
        [ngClass]="{ 'is-invalid':
          (newPassword?.touched || newPassword?.dirty) && newPassword?.invalid}"/>
        <span class="invalid-feedback">
        @if(newPassword?.errors?.['required']) {<span>{{'input_required' | translate}}</span>}
        </span>
      </div>
    </div>
    <div class="details-input mb-5 col-lg-6">
      <p>{{'new_password_confirm' | translate}}</p>
      <div class="input-holder">
        <input type="password" class="form-control"  formControlName="confirmPassword"
        [ngClass]="{ 'is-invalid':
          (confirmPassword?.touched || confirmPassword?.dirty) && confirmPassword?.invalid}"/>
        <span class="invalid-feedback">
        @if(confirmPassword?.errors?.['required']) {<span>{{'input_required' | translate}}</span>}
        @else if(confirmPassword?.errors?.['mismatch']) 
        { <span>{{'password_not_confirm' | translate}}</span> }
        </span>
      </div>
    </div>
    <div class="d-flex justify-content-center mb-5 col-12">
      <button type="submit" class="send-btn">{{'confirm'| translate}}</button>
    </div>
  </form>
</div>
