<div class="container-lg d-flex flex-column align-items-center my-5 py-5 ">
    <div class="box d-flex flex-column align-items-center ">
      <!-- <div class="button me-auto">
        <button class="close">
          <img src="../../../../../assets/images/close 1.svg" class="w-100" />
        </button>
      </div> -->
      <div class="text-style-container w-75 py-4 px-3 ">

        <h3 class="mt-3">{{'TheInsurancePolicy' | translate}}</h3>
        <h3>{{'TheMotherCanShareAndViewDocumentInMoreThanOneWay' | translate}}</h3>
      </div>
      <br />
      <h3 class=" mb-4 primary-500">{{'shareNow' | translate}}</h3>
      <div class="contact row d-flex align-items-center justify-content-between gap-3">
        <a
          href="https://www.google.com"
          target="_blank"
          class="col-12 col-sm-6 col-md-3 mb-3 mb-md-0 d-flex justify-content-center align-items-center child"
          ><img class="img-fluid" src="../../../../../assets/images/Layer 2.svg"  
        /></a>

        <a
          href="https://www.google.com"
          target="_blank"
          class="col-12 col-sm-6 col-md-3 mb-3 mb-md-0 d-flex justify-content-center align-items-center child"
          ><img class="img-fluid" src="../../../../../assets/images/Layer 2 (3).svg"  
        /></a>

        <a
          href="https://www.google.com"
          target="_blank"
          class="col-12 col-sm-6 col-md-3 mb-3 mb-md-0 d-flex justify-content-center align-items-center child"
          ><img class="img-fluid" src="../../../../../assets/images/Layer 2 (1).svg"  
        /></a>

        <a
          href="https://wa.me/?text=انا استخدم واتساب"
          target="_blank"
          class="col-12 col-sm-6 col-md-3 mb-3 mb-md-0 d-flex justify-content-center align-items-center child"
          ><img class="img-fluid" src="../../../../../assets/images/Layer 2 (2).svg" 
        /></a>
      </div>
      <br />
      <div class="download row d-flex justify-content-center align-items-center">
      
        <a
          href="https://www.google.com"
          target="_blank"
          class="col-6 img-align  mb-3 d-flex justify-content-end align-items-center"
          >
          <img class="w-95" src="../../../../../assets/images/Group.svg" 
        /></a>
        <a
          href="https://www.google.com"
          target="_blank"
          class="col-6 img-align  mb-3 d-flex justify-content-start align-items-center"
          >
          <img class="w-95" src="../../../../../assets/images/Group 141.svg" 
        /></a>
      </div>
      <br />
    </div>
  </div>
