<section class="bg-pdf-files">
    <div class="container py-5">
        <div class="pdf-files-bg-container p-4">
            <h2 class="text-center text-white fw-bold mb-5">{{'privacyPolicy' | translate}}</h2>
            <div >
                <p>{{'policyDescription' | translate}}</p>
                <p>{{'policyDescription_1' | translate}}</p>
            </div>

            <div class="mb-5">
                <h4>{{'policyTitle1' | translate}}</h4>
                <p class="fw-semibold px-2">{{'policyDescription1' | translate}}</p>
                <p class="px-2" style="white-space: pre-line;">{{'policyDescription1_1' | translate}}</p>
            </div>

            <div class="mb-5">
                <h4>{{'policyTitle2' | translate}}</h4>
                <p class="px-2">{{'policyDescription2' | translate}}</p>
            </div>

            <div class="mb-5">
                <h4>{{'policyTitle3' | translate}}</h4>
                <p class="px-2">{{'policyDescription3' | translate}}</p>
            </div>

            <div class="mb-5">
                <h4>{{'policyTitle4' | translate}}</h4>
                <p class="px-2" style="white-space: pre-line">{{'policyDescription4' | translate}}</p>
                <p class="px-2" style="white-space: pre-line">{{'policyDescription4_1' | translate}}</p>
            </div>

            <div class="mb-5">
                <h4>{{'policyTitle5' | translate}}</h4>
                <p class="px-2" style="white-space: pre-line" class="px-2">{{'policyDescription5' | translate}}</p>
                <p class="px-2">{{'policyDescription5_1' | translate}}</p>
            </div>

            <div class="mb-5">
                <h4>{{'policyTitle6' | translate}}</h4>
                <p class="px-2">{{'policyDescription6' | translate}}</p>
                <p class="px-2">{{'policyDescription6_1' | translate}}</p>
                <p class="fw-bold">{{'policyTitle6_2' | translate}}</p>
                <p class="fw-bold">{{'policyTitle6_3' | translate}}</p>
                <p class="px-2" style="white-space: pre-line">{{'policyDescription6_3' | translate}}</p>
                <p class="px-2" style="white-space: pre-line">{{'policyDescription6_3_1' | translate}}</p>
                <br>
                <p class="fw-bold">{{'policyTitle6_4' | translate}}</p>
                <p class="px-2" style="white-space: pre-line">{{'policyDescription6_4' | translate}}</p>
                <p class="px-2" style="white-space: pre-line">{{'policyDescription6_4_1' | translate}}</p>
                <p class="px-2" style="white-space: pre-line">{{'policyDescription6_4_2' | translate}}</p>
                <br>
                <p class="fw-bold">{{'policyTitle6_5' | translate}}</p>
                <p class="px-2" style="white-space: pre-line">{{'policyDescription6_5' | translate}}</p>
                <br>
                <p class="fw-bold">{{'policyTitle6_6' | translate}}</p>
                <p class="px-2" style="white-space: pre-line">{{'policyDescription6_6' | translate}}</p>
                <br>
                <p class="fw-bold">{{'policyTitle6_7' | translate}}</p>
                <p class="px-2" style="white-space: pre-line">{{'policyDescription6_7' | translate}}</p>
            </div>
        </div>
    </div>
</section>

